// Pygments colors
@import (less) "pastie.css";

// Core variables and mixins
@import "bootstrap.less";

@indent: 2 * @font-size-base;

@base-hue: 338;
@text-color: #353535;
@background-color: hsl(@base-hue, 100%, 99%);
@accent-color: hsl(@base-hue, 100%, 40%);
@dark-accent-color: darken(@accent-color, 20%);
@dark-accent-color-2: spin(@dark-accent-color, 10);
@complement-color: spin(@accent-color, 180);
@complement-color-2: spin(@complement-color, 10);
@rule-color: lighten(@text-color, 50%);

// Bootstrap overrides
//@font-size-base: 16px;

@body-bg: @background-color;

@input-border: @dark-accent-color;

@pagination-bg: @background-color;
@pagination-border: @dark-accent-color;

@pre-bg: @background-color;
@pre-border-color: @dark-accent-color;

@panel-bg: @background-color;
@panel-inner-border: @dark-accent-color;

@jumbotron-bg: @background-color;
@jumbotron-heading-color: @dark-accent-color;
//@jumbotron-lead-color: @dark-accent-color;

@legend-border-color: @dark-accent-color;

@font-family-serif: "Droid Serif", Georgia, "Times New Roman", Times, serif;
@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

.input-group-addon {
  background-color: @background-color;
}

.monochrome {
  color: @text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-family-serif;
  color: @dark-accent-color;

  a {
    color: @dark-accent-color;
    text-decoration: none;
  }
}

a {
  color: @text-color;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: @dark-accent-color;
  -moz-text-decoration-line: underline;
  -moz-text-decoration-style: solid;
  -moz-text-decoration-color: @dark-accent-color;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration-color: @dark-accent-color;
  -ms-text-decoration-line: underline;
  -ms-text-decoration-style: solid;
  -ms-text-decoration-color: @dark-accent-color;

  
  &:hover {
    color: @accent-color;
  }
}

body {
  background-color: @background-color;
  color: @text-color;
}

.navbar {
  &.navbar-top {
    border-bottom: 2px solid @dark-accent-color;
    margin-bottom: 2 * @indent;
  }

  &.navbar-bottom {
    border-top: 2px solid @dark-accent-color;
    margin-bottom: 0;
  }

  text-align: left;
  font-size: @font-size-small;

  a {
    color: @dark-accent-color;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover {
      color: @accent-color;
    }
  }

}

#content {

  .published {
    font-size: @font-size-small;
    font-weight: bold;
    text-transform: uppercase;
  }

 .post {
   margin-bottom: 2 * @indent;
   padding-bottom: 2 * @indent;
   border-bottom: solid 1px @rule-color;

   &.last {
     border-bottom: none;
     padding-bottom: 0;
   }

   .heading {
     padding-bottom: @indent;
   }
 }

 #mc_embed_signup {
   margin-top: @indent;
   padding: @indent;
 }
}

#sidebar {
  margin: 0 auto;
}

#social {

  img {
    width: 34px;
    height: 34px;
    padding-right: @indent * .5;
  }
}

#footer {
  clear: both;
  padding-top: @indent;
  margin-top: @indent;

  footer {
    ul {
      margin-left: 0;

      li {
        list-style-type: none;
      }
    }
  }

}
