{% extends "base.html" %}
{% import "post-summary.html" as ps %}

{% block title %}
{{ section.title }}
{% endblock title %}

{% block content %}
<div class="splash">
  <h1>
    Hi, I'm <a class="highlight" href="/landing/about">Noel Welsh</a>.
    I write <a class="highlight" href="/landing/code">software</a> and
    <a class="highlight" href="/landing/books">books</a>, and
    work on other <a class="highlight" href="/landing/projects">projects</a> in
    the software space.
  </h1>
</div>

<h2 class="base-h1 pt-16 pb-8">Latest Writing</h2>
<ul>
  {% for page in section.pages | sort(attribute="date") | reverse %}
    {% if loop.index > 5 %}{% break %}{% endif %}
    <li class="pb-8">
      {{ ps::post_summary(
      title = page.title,
      date = page.date,
      permalink = page.permalink,
      summary = page.summary
      ) }}
    </li>
  {% endfor %}
</ul>
{% endblock content %}
