{% extends "base.html" %}
{% import "post-summary.html" as ps %}

{% block title %}
{{ section.title }}
{% endblock title %}

{% block content %}
<div class="splash">
  <h1>
    Hi, I'm <a class="highlight" href="/landing/about">Noel Welsh</a>.
    I write <a class="highlight" href="/landing/code">software</a> and
    <a class="highlight" href="/landing/books">books</a>, and
    work on other <a class="highlight" href="/landing/projects">projects</a> in
    the software space.
  </h1>
</div>

<h2 class="base-h1 pt-16 pb-8">Latest Writing</h2>
<ul>
  {% for page in section.pages | sort(attribute="date") | reverse %}
    {% if loop.index > 5 %}{% break %}{% endif %}
    <li class="pb-8">
      {{ ps::post_summary(
      title = page.title,
      date = page.date,
      permalink = page.permalink,
      summary = page.summary
      ) }}
    </li>
  {% endfor %}
</ul>

<div id="subscribe" class="w-3xl">
  <h4 class="text-2xl font-extrabold text-emerald-600 pb-4">
    Be notified of new posts. Subscribe to my email newsletter.
  </h4>
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/functionalprogrammingstrategies"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.com/functionalprogrammingstrategies', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <p class="pb-4">
      <label class="mr-2" for="email">Enter your email</label>
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="you@example.com"
        class="bg-white rounded-md ring-2 ring-gray-300 hover:ring-emerald-600 focus:ring-emerald-600 active:ring-emerald-600 py-1 px-2"
      />

      <input
        type="submit"
        value="Subscribe"
        class="ml-2 px-2 py-1 rounded-md bg-white font-semi-bold text-gray-400 ring-2 ring-gray-300 hover:ring-emerald-600 hover:text-emerald-600 active:bg-emerald-600 active:ring-emerald-600 active:text-white"
      />
    </p>
    <p class="text-xs">
      <a
        href="https://buttondown.com/refer/functionalprogrammingstrategies"
        class="hover:text-emerald-600"
        target="_blank"
        >Powered by Buttondown.</a
      >
    </p>
  </form>
</div>
{% endblock content %}
