{% macro post_summary(title, date, permalink, summary) %}
<div>
  <h2 class="base-h2 pb-3">
    <a
      class="text-emerald-600 focus:underline hover:underline"
      href="{{ permalink | safe }}"
      >{{ title }}</a
    >
    <br /><span class="text-gray-600 text-lg xl:text-2xl font-extrabold"
      >{{ date | date(format="%d %B %Y") }}</span
    >
  </h2>
  <div class="prose summary">
    <div class="pb-2">{{ summary | safe }}</div>
    <p>
      <a class="base-a text-sm" href="{{ permalink | safe }}"
        >Continue reading</a
      >
    </p>
  </div>
</div>
{% endmacro post_summary %}
