<div class="post last">
  <h1 class="myna-{{ page.id | myna_id }}" data-bind="text">{{ page.title }}</h1>
  <p class="published">Published on {{ page.date | date: "%d %B %Y" }}</p>

  {% if page.tagline %}<h2><small>{{ page.tagline }}</small></h2>{% endif %}

  {% if page.repost %}
  <p><small>A version of this post appeared on
    {% case page.repost %}
    {% when 'underscore' %}
    <a href="http://underscoreconsulting.com/blog">the Underscore blog.</a>
    {% when 'myna' %}
    <a href='http://blog.mynaweb.com/'>the Myna blog.</a>
    {% endcase %}
  </small></p>
  {% endif %}


  {{ content }}

  {% if page.category == 'data' or page.category == 'programming' %}
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup" class="panel">
    <form action="http://noelwelsh.us6.list-manage.com/subscribe/post?u=8f6a767dbf715c379e19f6f79&amp;id=9036487887" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>

      <fieldset>
        {% if page.list_cta %}
        <legend>{{ page.list_cta }}</legend>
        {% else %}
        <legend>Interested in reading more? Sign up for my newsletter on data science and software development.</legend>
        {% endif %}


        <p class="mc-field-group form-group">
          <label for="mce-EMAIL">Email address</label>
          <input id="mce-EMAIL" type="email" class="form-control required" name="EMAIL" placeholder="me@example.org" />
        </p>

        <p class="mc-field-group form-group">
          <label for="mce-FNAME">First name (optional)</label>
          <input id="mce-FNAME" type="text" class="form-control" name="FNAME" placeholder="Leonardo" />
        </p>
        <p class="mc-field-group form-group">
          <label for="mce-LNAME">Last name (optional)</label>
          <input id="mce-LNAME" type="text" class="form-control" name="LNAME" placeholder="Da Vinci" />
        </p>

        <p>
          <button class="myna-{{ page.id | myna_id }} btn btn-success" id="mc-embedded-subscribe" type="submit" data-goal="click">Keep me posted</button>
        </p>
        <p class="help-block"><small>No spam. Unsubscribe at any time.</small></p>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      </fieldset>

      </form>
  </div>
  <!--End mc_embed_signup-->
  {% endif %}

<ul class="pagination">
  {% if page.previous %}
  <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
  {% else %}
  <li class="prev disabled"><a>&larr; Previous</a></li>
  {% endif %}
  <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
  {% if page.next %}
  <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
  {% else %}
  <li class="next disabled"><a>Next &rarr;</a>
  {% endif %}
</ul>

  {% include JB/comments %}
</div>
