<div id="sidebar">
  <h3>More Posts</h3>
  <ul>
    <li><a href="/data.html">Data</a></li>
    <li><a href="/programming.html">Programming</a></li>
    <li><a href="/other.html">Other</a></li>
    <li><a href="/archive.html">Complete archive</a></li>
  </ul>

  <h3>More Me</h3>
  <ul>
    <li><a href="http://mynaweb.com/">Myna</a></li>
    <li><a href="http://untyped.com/">Untyped</a></li>
    <li><a href="http://underscoreconsulting.com/">Underscore</a></li>
    <li><a href="https://github.com/noelwelsh/">Github</a></li>
    <li><a href="https://twitter.com/noelwelsh/">Twitter @noelwelsh</a></li>
  </ul>

  <h3>Contact</h3>
  <ul>
    <li>Email: noelwelsh at gmail</li>
  </ul>
</div>
